@model LinksDBManager.Models.ProjectLinkModel

@{
    ViewData["Title"] = "Create project link";
}

<h1>Create project link</h1>

<h4>Project link details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProjectLink">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CdpProjectId" class="control-label"></label>
                <input asp-for="CdpProjectId" class="form-control" />
                <span asp-validation-for="CdpProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HdbProjectId" class="control-label"></label>
                <input asp-for="HdbProjectId" class="form-control" />
                <span asp-validation-for="HdbProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
